$grid-border: 1px solid tint($base-font-color, 90%);

.section-heading {
  color: $larb-red;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 0;
  margin-top: $small-spacing;
  text-align: center;
  text-transform: uppercase;

  @include media($medium-screen-up) {
    font-size: 1.125em;
  }

  @include media($large-screen-up) {
    @include margin($small-spacing null);
    font-size: 1.25em;
    padding-top: $small-spacing;
  }
}

.grid-row {
  @include row;
  border-bottom: $grid-border;
  padding-bottom: $small-spacing;
  padding-top: $base-spacing;

  .section-heading {
    padding-top: 0;
  }
}

.grid-item-image {
  margin-bottom: $small-spacing;
  width: 100%;
}

.grid-item-full-width {
  @include span-columns(12);

  @include media($medium-screen-up) {
    @include span-columns(12);

    .grid-item-title {
      font-size: 1.45em;
    }

    .grid-item-image {
      @include span-columns(6 of 12);
    }

    .grid-item-text {
      @include span-columns(6 of 12);
      @include omega;
    }
  }
}

.grid-item-half-width {
  @include span-columns(12);

  .grid-item-image {
    @include span-columns(4 of 12);
  }

  .grid-item-text {
    @include span-columns(8 of 12);
    @include omega;
  }

  @include media($medium-screen-up) {
    @include span-columns(6);
    @include omega(2n);

    .grid-item-title {
      font-size: 1.35em;
    }
  }
}

.grid-item-third-width {
  @include span-columns(12);

  @include media($medium-screen-up) {
    @include span-columns(4);
    @include omega(3n);
  }
}
