$grid-border: 1px solid tint($base-font-color, 90%);

.grid-row {
  @include row;
  border-bottom: $grid-border;
  padding-bottom: $small-spacing;
  padding-top: $base-spacing;
}

.grid-item-image {
  // margin-bottom: $small-spacing;
  width: 100%;
}

.grid-item-full-width {
  @include span-columns(12);

  @include media($medium-screen-up) {
    @include span-columns(12);

    .grid-item-title {
      font-size: 1.45em;
    }

    .grid-item-image {
      @include span-columns(6 of 12);
    }

    .grid-item-text {
      @include span-columns(6 of 12);
      @include omega;
    }
  }
}

.grid-item-half-width {
  @include media($medium-screen-up) {
    @include span-columns(6);
    @include omega(2n);

    .grid-item-title {
      font-size: 1.35em;
    }

    &:last-of-type {
      border-left: $grid-border;
      padding-left: $base-spacing;
    }
  }
}

.grid-item-third-width {
  @include media($medium-screen-up) {
    @include span-columns(4);
    @include omega(3n);
  }
}
