$gr-start: hsla(0, 0%, 0%, 0);
$gr-stop1: hsla(0, 0%, 0%, 0.5);
$gr-stop2: hsla(0, 0%, 0%, 0.7);

$rgb-gr-stop1: rgba(0, 0, 0, 0.5);
$rgb-gr-stop2: rgba(0, 0, 0, 0.7);

$hero-height-large: 600px;
$hero-height-small: 400px;

// For some reason Bourbon's background-image mixin does not seem to output a
// linear gradient compatible with Firefox, so this has to be done manually.
// In addition, the image_path function follows a ruby naming convention since
// it comes from Sprockets; ignore the name rule for this case.
// scss-lint:disable VendorPrefix
// scss-lint:disable NameFormat
.hero {
  background-color: $dark-gray;
  background-image: url(image_path("Taos_Tegeder_6.jpg"));
  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: cover;
  height: $hero-height-small;
  position: absolute;
  width: 100%;
  z-index: $base-z-index;

  @include media($medium-screen-up) {
    height: $hero-height-large;
  }
}

.hero-inner {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(flex-end);
  @include align-items(flex-start);

  height: $hero-height-small;
  position: relative;
  top: 0;

  // Gradient layer
  @include background-image(linear-gradient($gr-start 0%, $gr-stop2 100%));
  background-image: -moz-linear-gradient(transparent 0%, $rgb-gr-stop2 100%);

  @include media($medium-screen-up) {
    height: $hero-height-large;
  }
}
// scss-lint:enable VendorPrefix
// scss-lint:enable NameFormat

.hero-content {
  @extend .container;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: ($small-spacing / 2);
  width: 100%;

  .hero-title {
    font-family: $serif;
    font-size: 2em;
    font-weight: 400;
  }

  .hero-category {
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: 0.25em;
    text-transform: uppercase;
  }

  @include media($medium-screen-up) {
    .hero-title {
      font-size: 2.5em;
    }
  }
}


