.links-list {
  border-bottom: $grid-border;
  margin-bottom: $base-spacing;
  margin-top: $base-spacing;

  @include media($medium-screen-up) {
    border-bottom: 0;
    padding-bottom: 0;
  }

  .grid-item-image {
    margin-bottom: ($small-spacing / 2);
  }
}

.links-item-title {
  font-family: $serif;
  font-size: 0.85em;
  margin-bottom: ($small-spacing / 3);
  text-transform: capitalize;
}

.links-item-author {
  color: $medium-gray;
  font-size: 0.85rem;
  font-weight: 400;
  text-transform: capitalize;
}
