$navigation-height: 50px;
$navigation-background: $light-gray;
$navigation-color: rgb(74, 74, 74);
$navigation-color-hover: $larb-red;
$navigation-button-background: $larb-red;

.navigation {
  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  font-family: $sans-serif;
  font-weight: 400;
  letter-spacing: 0.75px;
  line-height: $navigation-height;
  min-height: $navigation-height;
  position: fixed;
  width: 100%;
  z-index: 999;

  nav {
    @extend .container;
  }
}

.navigation-menu {
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(no-wrap);
  @include justify-content(space-between);
}

.navigation-menu-left {
  margin-left: 90px;

  @include media($medium-screen-up) {
    margin-left: 100px;
  }
}

.navigation-menu-right {
  .nav-link {
    margin-right: 0;

    a {
      color: $larb-red;
    }
  }
}

// scss-lint:disable NameFormat
.navigation-logo {
  background-image: url(image_path("larb_logo_small.svg"));
  background-position: center bottom;
  height: 74px;
  position: absolute;
  width: 70px;

  @include media($medium-screen-up) {
    background-color: transparent;
    background-image: url(image_path("larb_logo_medium.svg"));
    height: 140px;
    width: 74px;
  }
}
// scss-lint:enable NameFormat

.nav-search-icon,
.nav-menu-icon {
  margin-left: 1.5rem;

  a {
    color: $navigation-color;

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }
}

.nav-search-icon {
  float: left;
  font-size: 1.35em;
}


.nav-menu-icon {
  float: right;
  font-size: 1.65em;
}

.nav-link {
  display: none;
  float: left;
  font-size: 0.65rem;
  letter-spacing: 1px;
  margin-right: 1.5em;
  text-transform: uppercase;

  a {
    color: $navigation-color;
    display: inline-block;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  @include media($medium-screen-up) {
    display: block;
    font-size: 0.75rem;
  }

  @include media($large-screen-up) {
    font-size: 0.85rem;
  }
}

.site-header {
  margin-top: $navigation-height;
}

.site-header-inner {
  @extend .container;
  overflow: hidden;
}

.site-title {
  color: darken($navigation-background, 45%);
  font-size: 2.25rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: $small-spacing;
  text-transform: uppercase;

  @include media($medium-screen-up) {
    font-size: 2.5rem;
    margin-left: 100px;
    margin-top: ($small-spacing / 2);
  }

  @include media($large-screen-up) {
    font-size: 2.75rem;
  }
}
