$navigation-height: 50px;
$navigation-background: $light-gray;
$navigation-color: rgb(74, 74, 74);
$navigation-color-hover: $larb-red;
$navigation-button-background: $larb-red;

.navigation {
  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  font-family: $sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.75px;
  line-height: $navigation-height;
  min-height: $navigation-height;
  position: fixed;
  width: 100%;
  z-index: 999;

  nav {
    @extend .container;
  }
}

.navigation-logo {
  background-image: url(image_path("larb_logo_small.svg"));
  height: 73px;
  position: absolute;
  width: 90px;

  @include media($medium-screen-up) {
    float: left;
  }

  @include media($large-screen-up) {
    background-color: transparent;
    background-image: url(image_path("larb_logo.svg"));
    background-position: center bottom;
    height: 170px;
    position: absolute;
    width: 90px;
  }
}

.navigation-menu {
  @include transition(all 0.3s ease-in-out);
  letter-spacing: 1px;
  max-height: 0;
  margin-left: 120px;
  overflow: hidden;
  text-transform: uppercase;

  // css won't animate height, only max-height
  &.active {
    max-height: 1000px;
  }

  @include media($large-screen-up) {
    float: left;
    max-height: inherit;
  }
}

.nav-menu-icon {
  font-weight: 400;
  font-size: 1.75em;
  position: absolute;
  right: 1.5rem;
  top: 0;

  @include media($large-screen-up) {
    // display: none;
  }

  a {
    color: $navigation-color;

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }
}

.nav-link {
  @include media($medium-screen-up) {
    float: left;
    margin-right: 1.5rem;
  }

  a {
    color: $navigation-color;
    display: inline-block;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  .button {
    @extend button;
    font-family: $sans-serif;
  }
}
