.larb-av
  .larb-av-background
  .larb-av-overlay
    .larb-av-overlay-inner
      %h2.section-heading Watch & Listen
  .larb-av-contents
    .grid-row
      .grid-item-full-width
        %img.grid-item-image{:src => lorem.image("480x270") }
        .grid-item-text
          %h4.featured-story-category LARB AV
          %h2.featured-story-title= lorem.words 5
          %h3.featured-story-author= "By #{lorem.words 2}"
          %p.featured-story-blurb= lorem.sentences 3
