<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>The Middleman</title>
    <!-- Typekit -->
    <script src='https://use.typekit.net/tug4ddf.js'></script>
    <script>
      try{Typekit.load({ async: true });}catch(e){}
    </script>
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" />
    <link href="../../assets/stylesheets/application.css" rel="stylesheet" />
  </head>
  <body class='partials partials_short_takes_most_viewed partials_short_takes_most_viewed_index site'>
    <header class='navigation' role='banner'>
      <nav role='navigation'>
        <a href="../../"><div class='navigation-logo'></div>
        </a>
        <div class='navigation-menu'>
          <ul class='navigation-menu-left'>
            <li class='nav-link'>
              <a href="../../">New to LARB?</a>
            </li>
            <li class='nav-link'>
              <a href="../../">This Week</a>
            </li>
            <li class='nav-link'>
              <a href="/about.html">Sections</a>
            </li>
            <li class='nav-link'>
              <a href="../../">Channels</a>
            </li>
            <li class='nav-link'>
              <a href="../../">About</a>
            </li>
            <li class='nav-link'>
              <a href="../../">Sign In</a>
            </li>
          </ul>
          <ul class='navigation-menu-right'>
            <li class='nav-link'>
              <a href="../../">Donate</a>
            </li>
            <div class='nav-search-icon'>
              <a href='javascript:void(0);'>
                <i class='ion-search'></i>
              </a>
            </div>
            <div class='nav-menu-icon'>
              <a href='javascript:void(0);'>
                <i class='ion-navicon'></i>
              </a>
            </div>
          </ul>
        </div>
      </nav>
    </header>
    <header class='site-header'>
      <div class='site-header-inner'>
        <h1 class='site-title'>Los Angeles Review of Books</h1>
      </div>
    </header>
    <main class='site-content'>
      <div class='container'>
        <div class='grid-row'>
          <div class='grid-item-third-width'>
            <h2 class='section-heading'>Short Takes</h2>
            <ul class='links-list'>
              <li class='links-list-item'>
                <div class='grid-item-image'>
                  <img class='grid-item-image' src='http://placehold.it/480x270'>
                </div>
                <h3 class='links-item-title'>dolore odit voluptatem quasi et</h3>
                <h5 class='links-item-author'>By dolorem voluptatem</h5>
              </li>
            </ul>
          </div>
          <div class='grid-item-third-width'>
            <h2 class='section-heading'>Most Viewed</h2>
            <ul class='links-list'>
              <li class='links-list-item'>
                <h3 class='links-item-title'>quas pariatur quis vel voluptas</h3>
                <h5 class='links-item-author'>By quo sequi</h5>
              </li>
              <li class='links-list-item'>
                <h3 class='links-item-title'>accusantium inventore tenetur eos tenetur</h3>
                <h5 class='links-item-author'>By exercitationem provident</h5>
              </li>
              <li class='links-list-item'>
                <h3 class='links-item-title'>eligendi eveniet omnis inventore sunt</h3>
                <h5 class='links-item-author'>By expedita aut</h5>
              </li>
              <li class='links-list-item'>
                <h3 class='links-item-title'>recusandae ut aut alias inventore</h3>
                <h5 class='links-item-author'>By aut dolorum</h5>
              </li>
            </ul>
          </div>
          <div class='grid-item-third-width'>
            <img class='grid-item-image' src='http://placehold.it/400x400'>
          </div>
        </div>
      </div>
    </main>
    <footer class='site-footer' role='footer'>
      <div class='footer-content'></div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../../assets/javascripts/application.js"></script>
  </body>
</html>
