---
title: The Los Angeles Review of Books
---
= partial "partials/hero", :locals => { :title => "Danielle Tegeder", :category => "Featured Artist" }
= partial "partials/featured_stories"
.next-section
  %h2.section-heading Section Heading
  %br
  %br
  %br
  %br
